TRANSCRIPT_BACKEND=modal
TRANSCRIPT_URL=https://monadical-sas--reflector-transcriber-web.modal.run
TRANSCRIPT_MODAL_API_KEY=GzWLJ2qqLDMJN4tUhQKvuTjuPUZPH643SS33Q7xQ

LLM_BACKEND=modal
LLM_URL=https://monadical-sas--reflector-llm-web.modal.run
LLM_MODAL_API_KEY=GzWLJ2qqLDMJN4tUhQKvuTjuPUZPH643SS33Q7xQ

TRANSLATE_URL=https://monadical-sas--reflector-translator-web.modal.run
ZEPHYR_LLM_URL=https://monadical-sas--reflector-llm-zephyr-web.modal.run
DIARIZATION_URL=https://monadical-sas--reflector-diarizer-web.modal.run

BASE_URL=https://xxxxx.ngrok.app
DIARIZATION_ENABLED=false

SQS_POLLING_TIMEOUT_SECONDS=60
