@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: white;
}

.temp-transcription {
  background: rgb(151 190 255);
  border-radius: 5px;
  border: solid 1px #808080;
  margin: 1em 0;
}

.temp-transcription h2 {
  font-weight: bold;
  font-size: 130%;
}

.Dropdown-placeholder {
  text-wrap: nowrap;
}
.Dropdown-arrow {
  top: 47% !important;
}

@media (max-width: 768px) {
  .audio-source-dropdown .Dropdown-control {
    max-width: 200px;
  }
}
